/* =============
    Skills
============= */
#skills{
  background-color: $darkBrown;
  padding-bottom: 15px;

  img{
    width: 100%;
  }

  h1{
    font-size: rem-calc(20);
    line-height: 27px;
    font-weight: 700;
    color: $white;
    padding-top: 45px;
    padding-bottom: 35px;
  }
  p{
    font-size: rem-calc(16);
    line-height: 27px;
    color: $white;
  }
  ul{
    li{
      div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 5px;
        h2{
          font-weight: 400;
          font-size: rem-calc(16);
          line-height: 22px;
          color: $white;
        }
        h3{
          text-align: right;
          color: $white;
          font-size: rem-calc(16);
          line-height: 22px;
        }
      }
      img{
        width: 100%;
        padding-bottom: 35px;
      }
    }
  }
}
