/* =============
    Skills
============= */
#skills{
  background-image: url("../img/hero/hero-2.jpg");
  background-size: cover;
  background-position: center;

  h2{
    
  }
  h3{
    text-align: right;
  }
}
